Bernoulli/res/
Normal/res/
.Rproj.user
**/.DS_Store
real_data/test/
.Rproj



.Rhistory
for_pre
real_data/scripts/su_unsu.py
analysis2/

real_data/res/simulated
real_data/res/CV_res
real_data/res/wholeset_res
real_data/res/submit_CHTC
real_data/res/supervised
real_data/res/unsupervised
real_data/res/two_label/
real_data/scripts/LASSO.ipynb

test_new_set